@import './abstracts/normalize';
@import './abstracts/reset';
@import './variables/container';
@import './variables/colors';
@import './components/_header';
@import './components/_table';
@import './components/_footer';

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $app_white;
  background-color: $app_dark;
  font-size: 14px;
  line-height: normal;
}
main {
  margin: 30px 0 0 0;
}
