@import './abstracts/normalize';
@import './abstracts/reset';
@import './variables/container';
@import './variables/colors';
@import './components/_header';
@import './components/_table';
@import './components/_modal';
@import './components/_footer';

html,
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $app_white;
  height: 100%;
  line-height: normal;
  background-color: $app_dark;
  font-size: 16px;
}
#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
main {
  flex: 1 1 auto;
}
